{% extends 'core/base.html' %}
{% block content %}
<h2>About Us</h2>
<p>This project is a comprehensive poultry management system built with Django, designed to help poultry farmers effectively monitor and manage their operations. The system provides an interactive dashboard that tracks egg production, incubation periods, chick growth, feeding schedules, health and vaccination records, and customer orders. It also features a dynamic calendar to organize key activities such as vaccinations, brooding, hatching dates, and order pickups. With a clean and intuitive interface, including a customized admin panel using Jazzmin, the system simplifies farm record-keeping and enhances decision-making for improved productivity and transparency.

</p>
{% endblock %}
