{% extends 'core/base.html' %}
{% block content %}
<h2>Kalenda ya Matukio ya Kuku</h2>
<table>
    <tr>
        <th>Kichwa</th>
        <th>Aina</th>
        <th>Anza</th>
        <th>Maliza</th>
        <th>Maelezo</th>
    </tr>
    {% for event in events %}
    <tr>
        <td>{{ event.title }}</td>
        <td>{{ event.get_category_display }}</td>
        <td>{{ event.start_time }}</td>
        <td>{{ event.end_time }}</td>
        <td>{{ event.description }}</td>
    </tr>


    
    {% empty %}
    <tr><td colspan="5">Hakuna tukio bado.</td></tr>
    {% endfor %}
</table>
{% endblock %}
