{% extends 'base.html' %}
{% block content %}
<h1>Vaccination Records</h1>
<table>
  <thead>
    <tr>
      <th>Chicken</th>
      <th>Vaccine</th>
      <th>Date Vaccinated</th>
    </tr>
  </thead>
  <tbody>
    {% for record in records %}
    <tr>
      <td>{{ record.chicken.name }}</td>
      <td>{{ record.vaccine.name }}</td>
      <td>{{ record.date_vaccinated }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="3">No vaccination records found.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
