body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3498db;
    padding: 10px 20px;
    color: white;
    width: 95%;
}

.header .logo img {
    height: 40px; /* Adjust height as needed */
    margin-right: 10px;
}

.header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.header nav a:hover {
    background-color: #2980b9;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 200px;
}

.search-bar button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #2980b9;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}

.search-bar button:hover {
    background-color: #1f6391;
}

/* Dashboard Container */
.dashboard-container {
    display: flex;
    margin-top: 20px;
}

/* Sidebar Styles */
.sidebar {
    width: 200px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    text-align: center;
    color: wheat;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: #34495e;
    border-radius: 4px;
}

.sidebar ul li a:hover {
    background-color: #16a085;
}

.sidebar ul li a i {
    margin-right: 8px;
}

/* Main Content Styles */
.container {
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #2c3e50;
}

#calendar-container {
    margin: 20px 0;
}

#calendar-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#calendar-table th, #calendar-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

#calendar-table th {
    background-color: #1abc9c;
    color: white;
}

#calendar-table td {
    height: 50px;
}

#calendar-labels {
    margin-top: 30px;
}

#calendar-labels h2 {
    color: #16a085;
}

#calendar-labels form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #1abc9c;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #16a085 }

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #ecf0f1;
    margin: 5px 0;
    padding: 8px;
    border-radius: 4px;
}