body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .dashboard-container {
            display: flex;
        }
        /* Header Styles */
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #3498db;
            padding: 10px 20px;
            color: white;
            width: 95%;
        }

        .sidebar {
            width: 200px;
            background-color: #2c3e50;
            color: white;
            padding: 20px;
            box-sizing: border-box;
        }
        .sidebar h2, .header {
            text-align: center;
            color: wheat;
        }
        .sidebar ul {
            list-style: none;
            padding: 0;
        }
        .sidebar ul li a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 10px;
            background-color: #34495e;
            border-radius: 4px;
        }
        .sidebar ul li a:hover {
            background-color: #16a085;
        }
        .main-content {
            flex-grow: 1;
            padding: 20px;
            background-color: white;
        }
        .header {
            background-color: #105eac;
            color: white;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header .logo {
            font-size: 24px;
            font-weight: bold;
            display: flex;
            align-items: center;
        }
        .header .search-bar input {
            padding: 5px;
            border-radius: 4px;
            border: 1px solid #ccc;
            margin-right: 5px;
        }
        .header .search-bar button {
            padding: 5px 10px;
            border: none;
            border-radius: 4px;
            background-color: #2980b9;
            color: white;
            cursor: pointer;
        }
        .header .menu a {
            color: white;
            text-decoration: none;
            margin-left: 10px;
        }
        h1, h2 {
            color: #2c3e50;
        }
        section {
            margin-bottom: 20px;
            padding: 20px;
            background-color: #ecf0f1;
            border-radius: 5px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }
        table, th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }